* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  font-size: 62.5%;
  /* Para cada 1rem no código abaixo, será considerado 10px */
}

html,
body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.6rem;
  /* 1.6rem = 16px */
}

:root {
  --black: #4d4c59;
  --purple: #6c63ff;
  --light-grey: #c8c8c8;
  --text-color: #9c9ab6;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 20px;
  height: 100%;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  position: relative;
  z-index: 9999;
}

.left-side {
  flex: 1;
}

.left-side h1 {
  color: var(--purple);
  text-align: center;
  margin-bottom: 20px;
}

.left-side .timer {
  display: flex;
  justify-content: space-around;
}

.left-side .timer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 1.6rem;
  color: var(--text-color);
}

.left-side .timer div span {
  color: var(--light-grey);
}

.left-side .timer div span:nth-child(2) {
  font-size: 6.4rem;
  color: var(--black);
}

.left-side p {
  text-align: center;
  color: var(--light-grey);
}

.left-side button {
  padding: 15px 30px;
  background-color: var(--purple);
  color: #fff;
  border-radius: 10px;
  display: block;
  margin: 20px auto;
  border: none;
  font-size: 1.6rem;
  transition: transform 200ms ease;
  cursor: pointer;
}

.left-side button:hover {
  transform: scale(1.05);
}

.time-is-up {
  display: none;
  color: var(--purple);
  font-size: 3.2rem;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 20px;
}

.right-side {
  flex: 1;
  height: fit-content;
}

.right-side img {
  width: 100%;
  height: auto;
}

.wave {
  position: absolute;
  width: 100%;
}

.top-wave {
  top: 0;
}

.bottom-wave {
  bottom: 0;
}



@media (max-width: 950px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 770px) {
  .container {
    flex-direction: column;
    padding: 40px 0;
  }

  .right-side img {
    height: 300px;
  }
}

@media (max-width: 340px) {
  html {
    font-size: 40%;
  }
}